#main-form {
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .form-group {
        display: flex;
        flex-direction: column;
        margin: 5px;

        .row {
            .form-label {
                width: 25%;
            }

            .form-input {
                width: 75%;
            }
        }
    }

    .form-submit {
        display: block;
        height: 40px;
        width: 75%;

        font-size: 20px;
        text-transform: uppercase;
        color:white;
        background-color: #33AA33;
        border: none;
    }

    .line {
        display: block;
        width: 100%;
        border-bottom: 1px solid black;
        margin: 10px auto;
    }
}
