* {
   font-family: Arial, Helvetica;
   margin: 0;
   padding: 0;
}

a, a:visited {
    color: black;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.half {
    width: 50%;
}

.centered {
    margin: 0 auto;
}

.textCentered {
    text-align: center;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.spaced {
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
}