doctype html
html
   include Partials/head.pug
   
   body
      include Partials/header.pug
      include Partials/sidebar.pug
      div(id='shopWrapper')
         block page_title
         block content
      
      include Partials/footer.pug